* {
    padding: 0;
    margin: 0;
    font-family: 'Vazir', sans-serif;
}
.main-content {
    display: flex;
    flex-direction: column;
}
.main-layout {
    display: flex;
    padding-top: 80px;
    justify-content: space-around;
}

@media (max-width: 768px) {
   .main-layout{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
   }
   .main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
   }

}
#delete-icon{
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    top: -20px;
    right: -20px;
    background-color: red;
    cursor: pointer;
    padding: 8px;
    box-shadow: 0 0 6px black;
    transition: all .5s;
 }
 #delete-icon:hover{
    box-shadow: 0 0 12px rgb(174, 0, 0);
 }
