* {
    padding: 0;
    margin: 0;
    font-family: 'Vazir', sans-serif;  
}
.main-content {
    display: flex;
    flex-direction: column;
}
.main-layout {
    display: flex;
    padding-top: 80px;
    justify-content: space-around;
}

@media (max-width: 768px) {
   .main-layout{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
   }
   .main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
   }  
   
}