.container {
    display: flex;
    flex-direction: row;
    background-color: blue;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    object-fit: cover;
}

.search-box {
    border: solid 1px black;
    background-color: rgb(2, 2, 175);
    border-radius: 30px;
    color: #fff;
    outline: none;
    height: 30px;
    width: 150px;
    padding-right: 10px;
}

.search-box::placeholder {
    color: #fff;

}

.text-color {
    color: #fff;
    text-decoration: none;
}

.li1 {
    list-style: none;
}

.ul1 {
    display: flex;
    gap: 10px;
}

.dropdown {
    width: 100%;
    background-color: black;
    height: 40px;
    color: #fff;
    display: flex;
    /* padding: 10px 20px 10px; */
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    gap: 20px;
    align-items: center;
}
.drop-down{
    opacity: 0;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: -30px;
    background-color: black;
    padding: 20px;
    transition: all .5s;
    z-index: -100;

}
.drop-down a{
    text-wrap: nowrap;
    color: #aaaaaa;
    position: relative;
    transform: scale(1);
}
.drop-down a:hover{
    color: white;
    right: 5px;
    transform: scale(5);
}

.nav-item{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav-item:hover > div{
    display: flex;
    opacity: 1;
    z-index: 100;
}
